@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}




body:lang(ar) {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

ul, p {
    padding: 0px;
    margin: 0px;
}

.counter {
    padding: 0px 50px;
}



.page {
    padding-top: 70px;
}

.ar .page {
    text-align: right;
}

.container_ {
    padding: 0px 40px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.flex {
    display: flex;

}

.flex_ {
    display: flex;
    align-items: center;
}

.flex__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header ------------------------------------------*/



.headerMain {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 99px;
}

.header {
    background: #010101;
    border: 1px solid #707070;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-top: 20px;
    z-index: 99;
    position: absolute;
    width: 100%;


}

.headerFixed {
    position: fixed;
    top: 0;
    margin: auto;
}

.header.headerFixed {
    border: none;
    border-radius: 0px;
}

img.Hlogo {
    width: 110px;
    height: 67px;
    margin: 0px 40px;
}

.Hsection2 ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #fff;
    margin-bottom: 1px;
}

.Hsection2 ul li {
    padding: 0px 30px;
}

.Hsection2 ul li a {
    color: #fff;
}

.Hsearch {
    background: url(../images/search.png) no-repeat;
    width: 26px;
    height: 26px;
    margin: 0px 30px;
}

.Hcart {
    background: url(../images/cart.svg) no-repeat;
    width: 31px;
    height: 35px;
}

.Hmail {
    width: 26px;
    height: 26px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: #fff;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(../images/mail.svg);
    mask-image: url(../images/mail.svg);
}

.Huser_.dropdown-toggle::after {
    margin: 7px;
    color: #fffafa;
}

.Huser img {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    margin: 10px;
}

.Huser h3 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.menu_user .dropdown-item {
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;

}

.menu_user .dropdown-item:lang(ar) {
    text-align: right;
}

.menu_user_profile, .menu_user_Favorites, .menu_user_Orders, .menu_user_Logout {
    width: 18px;
    height: 18px;
    display: block;
    background: url(../images/IconUser.svg);
    background-size: 100% 100%;
    margin-right: 10px;
}

.menu_user_profile:lang(ar), .menu_user_Favorites:lang(ar), .menu_user_Orders:lang(ar), .menu_user_Logout:lang(ar) {
    margin-left: 10px;
    margin-right: 0px;

}

.menu_user_Favorites {
    background: url(../images/save2.svg);
    background-size: 100% 100%;
}

.menu_user_Orders {
    background: url(../images/order.svg);
    background-size: 100% 100%;
}

.menu_user_Logout {
    width: 15px;
    height: 15px;
    background: url(../images/logout.svg);
    background-size: 100% 100%;
}

.changeLang a {
    color: #fff;
    font-size: 17px;
    margin: 0px 30px;
}

.Hsection3 {
    display: flex;
}

.Hlogin button {
    width: 158px;
    height: 46px;
    background: #0CBF8A;
    border-radius: 21px;
    border: none;
    color: #FFFFFF;
    margin: 0px 30px;
}


/* menu */

.menuIcon {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(../images/menu.svg);
    mask-image: url(../images/menu.svg);
    background: #fff;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    margin: 0px 20px;
    display: none;
}

.menu {
    height: 100%;
    width: 300px;
    background: #fff;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    left: -400px;
    transition: 1s;
}

.menu:lang(ar) {
    left: auto;
    right: -400px;
}

.menu.active {
    left: 0px;
    background: #fff;
}

.menu.active:lang(ar) {
    right: 0px;
}

.menu.active .menuIcon {
    background: rgb(0, 0, 0);
    margin: 0px 34px;
    margin-top: 39px;
}

body.active>* {
    background: rgb(0, 0, 0);
    opacity: .5;
}

body.active>.menu {
    opacity: 1;
}

.menuUl {
    height: 100vh;
    overflow: scroll;
}

.menuUl .Huser_ {
    padding: 0px;
    margin: 0px;
}

.menuUl .Huser img {
    margin: 0px;
}

.menuUl .Huser h3 {
    padding: 10px;
}

.menuUl .Huser h3, .menuUl .Huser_.dropdown-toggle::after {
    color: #000;
}

.menuUl ul {
    padding: 30px;
}

.menuUl ul li {
    margin-top: 25px;
}

.menuUl ul li a {
    color: #000;
    font-weight: bold;
    width: 100%;
    display: block;
    border-bottom: 1px solid #dbdadacc;
    padding-bottom: 11px;
}

/* section head */

section.head {
    display: flex;
    align-items: center;
    margin-top: 160px;
}

section.head::after {
    content: "";
    background: url(../images/headBefor.png) no-repeat;
    position: absolute;
    right: 0;
    display: block;
    top: 185px;
    width: 302px;
    height: 284px;
    opacity: 0.7;
    background-size: 100% 100%;
}


section.head h1, section.head p, section.head span {
    font-size: 4.5rem;
    font-weight: bold;
}

section.head span {
    color: #ECAB38;
}

section.head p {
    padding-left: 57px;
    margin-top: 19px;
}

section.head p:lang(ar) {
    padding-left: 0px;
    padding-right: 57px;
}

section.head p span {
    color: #17DFA4;
}

section.head .des {
    color: #707070;
    margin-top: 21px;
    line-height: 25px;
}

section.head .headImg img {
    width: 100%;
    height: 577px;
    margin-top: -100px;
}



/* sections products */

section.products .titleSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

/* section.products .titleSection::after {
    content: "";
    background: url(../images/sectionTitle.png) no-repeat;
    display: block;
    background-size: 100% 100%;
    margin: 0 15px;
    width: 60px;
    height: 70px;
}

section.products .titleSection::before {
    content: "";
    background: url(../images/sectionTitle.png) no-repeat;
    display: block;
    background-size: 100% 100%;
    transform: rotate(180deg);
    margin: 0 15px;
    width: 60px;
    height: 70px;
} */


/* Products */

.boxsProductsIndex {
    margin-top: 50px;
}

.btn_ {
    background: #FFD365;
    border-radius: 12px;
    border: none;
}

.btn_:hover {
    background: #deb44a;
}

.boxsProductsIndex .btn_ {
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 40px;
    width: 206px;
    height: 57px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.product {
    height: 497px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px #9b9b9b29;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    margin-bottom: 30px;
}

.save {
    background: #fff;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 29px;
    top: 24px;
    cursor: pointer;

}

.save:lang(ar) {
    left: 29px;
    right: auto;
    top: 24px;

}

.saveIcon {
    width: 23px;
    height: 18px;
    position: absolute;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url('../images/save.svg');
    mask-image: url('../images/save.svg');
    background: #ff3737;
    opacity: .5;
    transition: 1s;

}

.save.active .saveIcon, .save:hover .saveIcon {
    opacity: 1;
    transition: 1s;
}



.PHeader {
    text-align: center;
    width: 100%;
    height: 232px;
    background: #ECAB3830;
    border-radius: 10px;
}

.PHeader img {
    width: 180px;
    height: 224px;
    margin-top: 82px;
}

.Pcontent h3 {
    margin-top: 70px;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.rate {
    margin-top: 20px;
}


.rate .fa {
    color: #ccc;
    font-size: 25px;
    margin: 2px;
}

.rate .checked {
    color: #FFC107;
}

.Pfooter {
    margin-top: 20px;
}

.Pfooter .price {
    font-size: 22px;
}

.Pfooter .addToCart {
    background: #fff;
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 29px;
    top: 24px;
    cursor: pointer;
    background: #019267;
    opacity: .5;
    transition: 1s;

}

.addToCartIcon {
    width: 20px;
    height: 20px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(../images/cart.svg);
    mask-image: url(../images/cart.svg);
    background: #ffffff;
    transition: 1s;
    display: block;
    position: absolute;

}

.Pfooter .addToCart.active, .Pfooter .addToCart:hover {
    opacity: 1;
    transition: 1s;
}


/* sections ads */

section.ads {
    margin-top: 140px;
}

.sec_ads {
    height: 475px;
    margin-bottom: 30px;

}

.adsImg {
    height: 100%;
}

.adsImg img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.sec_ads2 {}

.sec_ads2 img {
    height: 230px;
}

.ads3 {
    margin-top: 15px;
}


/* whyHealthy */

.whyHealthy {
    margin-top: 220px;
}

.whyHealthy h2 {
    font-size: 40px;
    font-weight: 600;
}

.whyHealthy h2 div {
    font-size: 40px;
    font-weight: 600;
    color: #019267;
}

.whyHealthy .head p {
    margin-top: 20px;
}

.whyHealthyItems:lang(en) {
    padding-left: 80px;
}

.whyHealthyItems:lang(ar) {
    padding-right: 80px;
}

.whyHealthyItem {
    max-width: 350px;
}

.whyHealthyItem .icon {
    background: #ECAB38;
    border-radius: 20px;
    width: 105px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.whyHealthyItem .icon .quikly {

    background: url(../images/quikly.png);
    width: 26px;
    height: 37px;
    background-size: 100% 100%;
    display: block;
}

.whyHealthyItem .icon .wallet {

    background: url(../images/wallet.png);
    width: 34px;
    height: 26px;
    background-size: 100% 100%;
    display: block;
}

.whyHealthyItem .icon .quality {

    background: url(../images/quality.png);
    width: 34px;
    height: 36px;
    background-size: 100% 100%;
    display: block;
}

.whyHealthyItem .icon .return {

    background: url(../images/return.png);
    width: 26px;
    height: 18px;
    background-size: 100% 100%;
    display: block;
}

.whyHealthyItem .contact {
    width: 100%;
    padding: 5px 11px;
}

.whyHealthyItem .contact p {
    color: #707070;
    font-size: 13px;
    line-height: 22px;
}



/* news */


.news_center {
    background: #019267;
    border: 1px solid #707070;
    border-radius: 52px;
    height: 400px;
    margin-top: 270px;
}


.news_content {
    max-width: 490px;
    margin-top: 100px;
    color: #fff;
    margin-left: 42px;
}

.news_content:lang(ar) {
    margin-right: 42px;
}

.news_center h2 {
    font-size: 2.6rem;
    margin-bottom: 45px;
}

.news_center .form-control {
    padding: 25px 59px;
    border-radius: 20px !important;
}

.news_center .btn_ {
    z-index: 10;
    position: absolute;
    right: 13px;
    width: 138px;
    background: #ECAB38;
    border-radius: 20px !important;
    padding: 19px;
}

.news_center .btn_:lang(ar) {
    left: 13px;
    right: auto;
}

.news_center i {
    background: url(../images/mail.svg);
    width: 26px;
    height: 37px;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    z-index: 10;
    left: 23px;
}

.news_center i:lang(ar) {
    right: 23px;
    left: auto;
}

.news_img {
    margin-top: -135px;
    text-align: center;
}

/* customerReview */

.customerReviews {
    background: #F8FFFD;
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.swiperReviews {
    min-height: 240px;
}

.customerReviews .swiper-pagination {
    margin-top: 33px;
    position: relative;
}

.swiper-pagination-bullet {
    background: #2e2e2e;
    border-radius: 10px;
    width: 25px;

}

.swiper-pagination-bullet-active {
    background: #019267;
    border-radius: 10px;
    width: 25px;
}

.CRContent {
    max-width: 677px;
    margin: auto;
    padding: 30px;
}

.CRContent h2 {
    margin-bottom: 30px;
    margin-top: 4px;
}



.swiperReviews_item .fa-quote-left {
    font-size: 26px;
    color: #019267;
    display: flex;
    justify-content: flex-end;
}

.swiperReviews_item .fa-quote-right {
    font-size: 26px;
    color: #019267;
    display: flex;
    justify-content: flex-start;

}

.swiperReviews_item .des {
    font-size: 16px;
    padding: 14px;
}


.swiperReviews .rate {
    margin-top: 6px;
    text-align: center;
}

.swiperReviews .user {
    justify-content: center;
    margin-top: 37px;
}

.swiperReviews .user img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 10px;
}

.swiperReviews .user h3 {
    font-size: 20px;
    font-weight: bold;
}

.swiperReviews .user p {
    color: #F2A22F;
}

/* footer */


.footer {
    background: #000000;
    color: #F5F5F5;
    margin-top: 50px;
}

.footer a {
    color: #F5F5F5 !important;


}

.Fsections1 {
    padding-top: 70px;
    border-bottom: 2px dashed #FFFFFF;
    padding-bottom: 20px;
}


.footerSection {}

.footerSection .title {
    font-size: 25px;
    margin-bottom: 20px;
    width: max-content;
}


.footerSection .title::after {
    content: "";
    background: #575757;
    border-radius: 25px;
    height: 5px;
    display: block;
    width: 55px;
    margin: auto;
}

.footerSection ul li {
    display: block;
    margin-top: 8px;
}

.footer_logo {
    max-width: 320px;
}

.footer_logo p {
    font-size: 13px;
    line-height: 22px;
}

.Flogo {
    margin-bottom: 20px;
}

.Fsections2Item {
    margin-top: 40px;
}

.Fsections2Item p {
    font-size: 18px;
}

.Fsections2Item h3 {
    color: #ACACAC;
}

.icon {
    background: #1E1E1E;
    border: 1px solid #B8B8B8;
    border-radius: 20px;
    padding: 15px;
    margin-right: 15px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
}

.icon:lang(ar) {
    margin-left: 15px;
    margin-right: 0px;

}

.Fsections2Item .icon .phone {
    background: url(../images/phone.png);
    width: 26px;
    height: 37px;
    background-size: 100% 100%;
    display: block;
}

.Fsections2Item .icon .question {
    background: url(../images/question.png);
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    display: block;
}


.Fsections2Item .icon .email {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(../images/mail.svg);
    mask-image: url(../images/mail.svg);
    background: #fff;
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    display: block;
}



.Fsections3 {
    background: #ECAB38;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 22px;
}


/* input style and model  */
/* model */
.modleLogin {
    max-width: 600px;
}

.modal-content_ {
    max-width: 100%;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 25px;
    overflow: auto !important
}

.Mheader {
    margin-top: 20px;
    text-align: center;
}

.Mheader h1 {
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 18px;
}

.Mheader p {
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}

.modal-content_ .form_ {
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
}

.forgerPassword {
    display: flex;
    justify-content: flex-end;
    margin-top: 34px;
    font-size: 15px;
    width: 100%;
}

.forgerPassword a {
    color: #ECAB38;

}

.forgerPassword a:hover {
    color: #be882b;
}

.modal-content_ .footer_ {
    text-align: center;
    margin-top: 30px;
}

.modal-content_ .loginBtn {
    background: #019267;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px;
    width: 154px;
    font-weight: bold;
    font-size: 17px;
}

.modal-content_ .linkMore {
    text-align: center;
    margin-top: 41px;
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-content_ .linkMore button, .modal-content_ .linkMore button:hover {
    color: #12C993;
    font-size: 18px;
    border: none;
    background: none;
}

/* inputs */
.icon_ {
    position: absolute;
    top: 12px;
    right: 20px;
    color: #585757;
    font-size: 22px;
    z-index: 2;
    border-left: 1px solid #707070;
    padding-left: 10px;
}

.iconPassword {
    background: url(../images/iconPassword.svg);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
}

.iconEmail {
    background: url(../images/iconEmail.svg);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
}

.iconUser {
    background: url(../images/IconUser.svg);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
}

.IconPhone {
    background: url(../images/IconPhone.svg);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
}

.IconMap {
    background: url(../images/IconMap.svg);
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
}


.icon__ {
    position: absolute;
    top: 16px;
    left: 20px;
    color: #585757;
    font-size: 22px;
    z-index: 2;
    border: none;
}

.icon__:lang(ar) {
    right: 20px;
    left: auto;
}

.icon__::after {
    content: "";
    border-right: 1px solid #707070;
    padding-right: 20px;
    height: 20px;
    display: block;
}

.icon__:lang(ar)::after {
    border-right: none;
    padding-left: 0px;
    border-left: 1px solid #707070;
    padding-right: 31px;
}

.form-group_ {
    position: relative;
}


.input_ {
    background: #F9F9F9;
    border: 1px solid #D4CECE;
    border-radius: 5px;
    padding: 13px 0px;
    padding-left: 60px;
}

.input_:lang(ar) {
    padding-left: 0px;
    padding-right: 60px;

}

.loginCheck {
    display: flex;
}

.loginCheck .form-check-input {
    padding: 10px;
}

.loginCheck input {
    padding: 10px;
    border: 1px solid #CFCBCB;
    border-radius: 5px;
    background: #f9f9f9;
}

.loginCheck label {
    padding-right: 27px;
    margin-top: 2px;
    font-size: 16px;
    color: #000;
}

/* model cart  */
.MCproduct {
    display: flex;
}

.MCproductContent {
    margin-top: 30px;
    width: 100%;
}

.MCproductImg img {
    width: 189px;
    height: 262px;
}

.MCquantity {
    max-width: 300px;
    margin-top: 39px;
}

.MCquantity strong {
    color: #000000;
    font-size: 19px;
    font-weight: 400;
}

.MCAdToCart {
    text-align: center;
    margin-top: 20px;
}

.MCAdToCart button {
    background: #ECAB38;
    border-radius: 10px;
    width: 187px;
    padding: 14px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border: none;
}

.MCQplus, .MCQminus {
    background: #019267;
    border-radius: 10px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.MCQinput input {
    background: #FFF3D6;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px;
    width: 99px;
    font-weight: bold;
}

.MCQplus span {
    font-size: 20px;
}

.MCQplus {
    margin-right: -15px;
    z-index: 1;
}

.MCQplus:lang(ar) {
    margin-right: 0px;
    margin-left: -15px;
}

.MCtag {
    border-radius: 6px;
    background: #fff2d6;
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
}

.MCQminus {
    margin-left: -15px;
}

.MCQminus:lang(ar) {
    margin-left: 0px;

    margin-right: -15px;
}

.MCQminus span {
    margin: 0px;
    padding: 0;
    height: 46px;
    font-size: 20px;
}


/* ---------------- cartPage */

/* .cartPage {} */

.pageHeader .head_::after {
    content: "";
    background: #009267;
    width: 100%;
    height: 280px;
    position: absolute;
    top: 0;
    background-image: url(../images/VectorSmart.png);
    background-size: contain;
}

.pageHeader .head_ h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 60px;
    color: #fff;
}

.cartPage .content {
    margin-top: 170px;
}

.CPaddress {
    background: #FFFFFF;
    border: 1px solid #D4CECE;
    border-radius: 15px;
    padding: 60px 30px;
}

.CPaddress h3 {
    font-size: 18px;
}

.CPaddress .IconMap__ {
    border: 1px solid #D4CECE;
    border-radius: 15px;
    padding: 10px;
}

.CPaddress h3 {
    padding: 20px;
}

.CPaddress .IconMap_ {
    background: url(../images/IconMap.svg);
    width: 62px;
    height: 42px;
    background-size: 100% 100%;
    display: block;
}

.CPProducts {
    border: 1px solid #D4CECE;
    border-radius: 15px;
    padding: 20px;

}

.CPProducts_item {
    margin-top: 25px;
    position: relative;
}

.CPProducts h2 {
    font-size: 18px;
}

.CPPI_img img {
    height: 56px;
    width: 65px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.CPPI_content {
    padding: 0px 10px;
}

.CPPI_content h3 {
    font-size: 16px;
}

.CPProducts_item .MCQplus, .CPProducts_item .MCQminus {
    background: none !important;
    border-radius: 10px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6a5a5a;
    width: 28px;
    height: 41px;
    cursor: pointer;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.CPProducts_item .MCQinput input {
    background: none !important;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px;
    width: 73px;
    font-weight: bold;
}

.MCquantity_ {
    border: 1px solid #E5E4E4;
    border-radius: 28px;
    max-width: 137px;
}

.CPProducts_item .MCquantity {
    max-width: 300px;
    margin-top: 6px;
}

.CPProducts_item .flex__ {
    align-items: initial;
}

.CPProducts .close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 27px;
    margin-top: -27px;
    font-family: fantasy;
    cursor: pointer;
    font-size: 16px;
}

.CPProducts .price {
    font-size: 18px;
    font-weight: 500;
}

.CPcart_footer {
    margin-top: 30px;
}

.CPcart_footer input {
    width: 200px;
    border: 1px solid #e5e4e4;
    background: #fff;
    border-radius: 34px;
    padding: 9px;
    text-align: center;
}

.CPcart_footer .coupon {
    font-size: 18px;
    font-weight: bold;
}

.CPcart_footer .flex__ {
    margin-top: 17px;
}

.CPcart_footer .total {
    border-top: 1px solid #D5D5D5;
    margin-top: 20px;
    padding-top: 15px;
}

.CPnexStep_ {
    display: flex;
    justify-content: flex-end;
}

.CPnexStep {
    background: #019267;
    border-radius: 37px;
    width: 200px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    margin-top: 34px;
}



/* ------------------ page product */


.PPContent {
    margin-top: 30px;
}

.PPInfo {
    margin-top: 45px;
}

.PPInfo h1 {
    font-weight: 600;

}

.PPInfo .des {
    max-width: 700px;
    margin-top: 20px;
    line-height: 28px;
    color: #707070;
}

.PPInfo .sizes {
    margin-top: 20px;
}

.PPInfo .sizes_items {
    margin-top: 10px;

}

.PPInfo .sizes strong, .PPIquantity strong {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
}

.PPIquantity {
    margin-top: 30px;
}

.PPIquantity strong {
    margin-bottom: 10px;
    display: block;
}

.PPInfo .MCQinput input {
    text-align: center;
    padding: 10px;
    width: 99px;
    font-weight: bold;
    background: #F6F6F6;
    border-radius: 5px;
    border: none;
}

.PPInfo .MCQplus, .PPInfo .MCQminus {
    background: #F6F6F6;
    border-radius: 10px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.PPInfo .MCquantity_ {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    max-width: 137px;
    background: #F6F6F6;
}

.addToCard {
    background: #019267;
    border-radius: 15px;
    color: #fff;
    border: navajowhite;
    width: 240px;
    margin-top: 34px;
    height: 55px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PPInfo .price span {
    margin: 0px 30px;
    margin-top: 35px;
    font-size: 20px;
    display: block;
}

.PPInfo .sizes_item {
    background: #FCFCFC;
    border: 1px solid #D4CECE;
    border-radius: 5px;
    margin: 5px 7px;
    width: 50px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.PPInfo .cartIcon {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(../images/cart.svg);
    mask-image: url(../images/cart.svg);
    background: #fff;
    width: 17px;
    height: 17px;
    background-size: 100% 100%;
    display: block;
    margin: 0px 5px;
}


.PPInfo .PPIsave_ {
    background: #fff;
    border: 1px solid #D4CECE;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.PPInfo .PPIsave_:hover {
    border: 1px solid #f40101;
    transition: 1s;

}

.PPInfo .PPIsave {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(../images/save.svg);
    mask-image: url(../images/save.svg);
    background: #f40101;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    display: block;
    margin: 0px 5px;
}

.productImages {
    margin: 10px;
    margin-top: -141px;
    padding: 10px;
    background: #ffffff3d;
    border-radius: 20px;
}


.productImages img {
    width: 100px;
    height: 100px;
    background: #ffffff1f;
    padding: 10px;
    border-radius: 20px;
}

.productImages .swiper-slide-thumb-active img {
    background: #c0c0c0;
}

.productImages .swiper-button-next, .productImages .swiper-button-prev {
    color: #444;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.productImages .swiper-button-next::after, .productImages .swiper-button-prev::after {
    font-size: 22px;
}

/* #productImages2 */
.productImages2 img {
    max-width: 100%;
    border-radius: 20px;
}

.PPDes {
    background: #FCF7EF;
    border-radius: 24px;
    min-height: 395px;
    margin-top: 100px;
}

.PPDesContent {
    padding: 25px;
    margin-top: 55px;
}

.PPDesContent p {
    line-height: 28px;
    margin-top: 19px;
    max-width: 656px;
}

.PPdesImg {
    margin-top: 51px;
    margin-left: 80px;
    position: relative;
}

.PPdesImg:lang(ar) {
    margin-right: 80px;
    margin-left: 0px;
}

.PPdesImg::after {
    content: '';
    background: #ECAB38;
    width: 275px;
    height: 156px;
    display: block;
    position: absolute;
    bottom: -45px;
    left: -51px;
    border-radius: 24px;
}

.PPdesImg:lang(ar)::after {
    left: auto;
    right: -51px;

}

.PPdesImg img {
    max-width: 350px;
    height: 260px;
    border-radius: 24px;
    z-index: 2;
    position: relative;
}


/*  */

.PPopinions_head {
    margin-top: 60px;
}


.rating-card {
    display: flex;
    margin-top: 50px;
}

.rating-card_ {
    border-right: 1px solid #ccc;

    padding-right: 50px;
}

.rating-card_:lang(ar) {
    border-right: none;
    border-left: 1px solid #ccc;
    padding-left: 50px;
    padding-right: 0px;
}

.rating-divided {
    width: 100%;
    margin-top: 61px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.rating-card h4 {
    font-size: 22px;
    margin-top: 18px;
    font-weight: bold;
    margin-top: -13px;
}


.rating-number {
    font-size: 50px;
    font-weight: 600;
    margin-top: 14px;
}

.rating-number small {
    font-size: 16px;
}

.rating-stars:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eee;
}

.rating-stars .filled-star {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffc107;
}

.rating-stars img {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.rating-progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-progress .rating-grade {
    padding: 3px 20px 3px 0;
    float: left;
    width: 50px;
    text-align: right;
    display: flex;
    align-items: center;
}

.rating-progress .fa {
    margin: 0px 2px;
    color: #ffb813;
}

.rating-progress .rating-grade img {
    height: 15px;
    margin-left: 3px;
}

.rating-progress .progress {
    float: left;
    width: calc(100% - 110px);
    border-radius: 10px;
}

.rating-progress .progress .bg-warning {
    background-color: #ffc107 !important;
    border-radius: 10px;
}

.progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e5e5e5;
}

.rating-progress .rating-value {
    padding: 0px 9px;
    width: 60px;
}

.rating-progress:after {
    content: "";
    clear: both;
    display: table;
}

.rating-card1 {
    min-width: 250px;
}

.PPopinionsAdd {
    border: 1px solid #D4CECE;
    border-radius: 32px;
    padding: 18px 25px;
    margin: 36px 56px;
}

.PPopinionsAdd .user_ {
    display: flex;
    align-items: center;
}

.PPopinionsAdd .user_ img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.PPopinionsAdd h3 {
    padding: 0px 10px;
    font-size: 17px;
}

.PPopinionsAdd form input {
    margin-top: 32px;
    background: #F8F8F8;
    border-radius: 38px;
    padding: 10px 24px;
}

.PPopinionsAdd .footer_ {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;

}

.PPopinionsAdd .PPopinionsBtn {
    background: none;
    border: none;
    color: #21BF90;
    font-size: 18px;
    padding: 10px;
}


/* PPcomments */

.PPcomments {
    margin-top: 20px;
}

.PPcommentsTitle {
    margin-bottom: 25px;
}

.PPcommentsItem {}

.PPcommentsItem .user_ {
    display: flex;
}

.PPcommentsItem .user_ img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.PPcommentsItem h3 {
    padding: 0px 10px;
    font-size: 17px;
    margin-top: 10px;
}

.PPcommentsItem .rate {
    margin: 0px 9px;
    margin-top: 4px;
}

.PPcommentsItem .rate .fa {
    font-size: 20px;
    margin: 1px;
}

.PPcommentsItem .date {
    color: #C4C4C4;
    margin: 0px 10px;
    font-size: 16px;
}

.PPcommentContent {
    padding: 12px 2px;
    color: #000000;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 15px;
    margin-bottom: 30px;
}


/* categoriesPage */

.categoriesPage {}

.categoriesPage .content {
    margin-top: 140px;
}

.CPItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.CPItem {
    color: #fff;
    border-radius: 31px;
    text-align: center;
    max-width: 300px;
    padding: 15px;
    width: 100%;
    margin: 20px;
    margin-bottom: 30px;
}

.CPItem_content h2 {
    font-size: 24px;
}

.CPItem_content h4 {
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: 100;
}

.CPItem img {
    height: 200px;
}

@media (max-width:1300px) {

    .container_ {
        padding: 0px 30px;
    }

    img.Hlogo {
        margin: 0px 20px;
    }

    .Hsection2 ul li {
        padding: 0px 20px;

    }

    section.head .headImg img {
        width: 100%;
        height: 480px;
        margin-top: -100px;
    }

    .Hsection2 ul li {
        padding: 0px 10px;
    }

    .productImages img {
        width: 80px;
        height: 80px;
    }

    .productImages {
        margin-top: -112px;
    }

    .productImages2 {
        margin-top: 56px;
    }
}

@media (max-width:1023px) {
    .Hmail {}
}

@media (max-width:1100px) {

    .container_ {
        padding: 0px 25px;
    }



    .Hsearch, .Hlogin button {
        margin: 0px 20px;
    }

}



/* bootstrap Large ≥992px */

@media (max-width:991px) {
    .whyHealthy {
        margin-top: 150px;
    }

    .news_content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .news_content:lang(ar) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .PPcommentsTitle {
        margin-top: 30px;
    }

    .PPopinions .rating-card_ {
        border: none;
    }

    .PPopinions .PPopinionsAdd {
        margin: 30px 0px 0px 0px;
    }

    .PPopinions .rating-card_ {
        padding-left: 0px;
        padding-right: 0px;
    }

    .Hsection2 {
        display: none;
    }


    .menuIcon {
        display: block;
    }

    img.Hlogo {
        margin: 0px 0px;
    }

    section.head .headImg {
        margin: auto;
        text-align: center;
    }

    section.head .headImg img {
        width: 100%;
        max-width: 496px;
        max-height: 484px;
        margin-top: 0px;
    }

    .section.head h1, section.head p, section.head span {
        font-size: 3.5rem;
        text-align: center;
    }

    .section.head p {
        padding-right: 0px;
    }

    .whyHealthyItems {
        padding-left: 0px;
    }

    .whyHealthyItems:lang(ar) {
        padding-right: 0px;
    }

    .whyHealthyItems:lang(en) {
        padding-left: 0px;
    }

    .whyHealthy .head p {
        margin-bottom: 40px;
    }

    .news_img {
        position: relative;
        display: none;
    }

    .news_content {
        max-width: 100%;
        color: #fff;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 390px;
        padding: 15px;
    }

    .footerSection {
        border: 1px solid #2d2d2d;
        margin-top: 20px;
        padding: 20px;
        border-radius: 11px;
    }

    .footer_logo {
        max-width: 320px;
        margin: auto;
        text-align: center;
    }

    .sec_ads, .sec_ads2 img {
        height: auto;
    }

    .section.head .des {
        max-width: 700px;
        margin: 30px auto;
    }

    .section.head {

        margin-top: 100px;

    }

    .section.head .headImg img {
        max-width: max-content;
        height: auto;
    }

    .news_center {
        margin-top: 30px;
        height: auto;
    }

    .news_content {
        height: 280px;
    }

    .PPInfo {
        margin-top: 50px;
    }
}



/* ----------------------------------------------------------------------------------------------------- */

.profilePage .content {
    margin-top: 170px;
}

.profilePage .CPProfile {
    border: 1px solid #d4cece;
    border-radius: 40px;
    padding: 10px 5px;
}

.profilePage .CPProfile h4 {
    margin: 10px;
    text-align: center;
    font-weight: 600;
}

.profilePage .CPProfile p {
    text-align: center;
    color: #acacac;
    font-size: 18px;
    margin-bottom: 20px;
}

.profilePage .modal_btn {
    display: block;
    width: 60%;
    margin: 40px auto;
    background-color: #20cf9b;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.profilePage .modal_btn span {
    font-size: 18px;
}

.profilePage .modal-dialog {
    max-width: 95%;
    margin: 10rem auto 1.75rem;
}

.profilePage .modal-content {
    text-align: center;
    padding: 10px;
    border-radius: 50px;
}

.profilePage .modal-content .img {
    margin: 20px 20px 20px 0px;
    text-align: center;
}

.profilePage .modal-content .img img {
    width: 54px;
}

.profilePage .modal-content h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.profilePage .modal-body textarea {
    height: 120px;
    border-radius: 30px;
    resize: none;
    padding: 15px;
    margin-bottom: 20px;
}

.profilePage .modal-dialog .send_btn {
    max-width: 550px;
    display: flex;
    justify-content: flex-end;
}

.profilePage .modal-dialog .send_btn button {
    background-color: #09ac7c;
    color: #fff;
    width: 120px;
    padding: 15px 15px;
    font-size: 16px;
    border-radius: 15px;
}

@media (max-width: 1200px) {
    .CPProfile {
        width: 50%;
        margin: 10px auto;
    }

    .modal_btn {
        width: 30%;
    }
}

@media (max-width: 676px) {
    .CPProfile {
        width: 80%;
        margin: 10px auto;
    }

    .modal_btn {
        width: 50%;
    }
}

.PPI_img {
    text-align: center;
}

.PPI_img img {
    height: 250px;
    width: 95%;
    border-radius: 24px;
    border: 1px solid #ccc;
}

.profileHeader {
    height: 82px;
    background: #ffffff;
    border: 1px solid #d4cece;
    border-radius: 20px;
    padding: 8px 30px;
    margin-bottom: 20px;
}

.profileHeader ul {
    width: 100%;
    height: 100%;
}

.profileHeader ul li {
    width: 25%;
    height: 100%;
    font-size: 16px;
}

.profileHeader ul li:not(:first-of-type) {
    justify-content: center;
}

.profileHeader ul li:not(:last-of-type) {
    border-left: 1px solid #d4cece;
}

.profileHeader ul li.active a {
    color: #ecab38;
}

.profileHeader ul li a {
    display: flex;
    color: #000;
    font-weight: 900;
}

.profileHeader .IconMap_ {
    background: url(../images/IconMap.svg);
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
    display: block;
    margin-right: 10px;
}

.profileHeader .IconMap_:lang(ar) {
    margin-left: 10px;
    margin-right: 0px;
}

.profileHeader .active .IconMap_ {
    background: url(../images/IconMapActive.svg);
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
    display: block;
    margin-right: 10px;
}

.profileHeader .active .IconMap_:lang(ar) {
    margin-left: 10px;
    margin-right: 0px;
}

@media (max-width: 676px) {
    .profileHeader {
        padding: 8px;
    }

    .profileHeader ul li a span {
        font-size: 10px;
    }
}

.input_ {
    background: #ffffff;
    margin-top: 15px;
    color: #000;
}

.label_ {
    font-weight: 900;
    font-size: 16px;
}

.input_:lang(ar) {
    padding-left: 0px;
    padding-right: 20px;
}

.Save_btn {
    background: #ecab38;
    border-radius: 10px;
    width: 180px;
    padding: 15px 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    margin-top: 34px;
    font-size: 16px;
}

/* Profile Address */
.CADD {
    border: 1px solid #d4cece;
    border-radius: 40px;
    padding: 30px;
}

.addressHeader {
    margin-bottom: 30px;
}

.addressHeader ul,
.addressBody ul {
    display: flex;
    justify-content: space-around;
}

.addressBody ul {
    justify-content: space-between;
}

.addressHeader ul li {
    font-size: 20px;
    font-weight: 600;
}

.addressBody ul {
    align-items: center;
    border: 1px solid #d5d5d5;
    border-radius: 15px;
    margin: 15px auto;
}

.addressBody ul li {
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 5px;
}

.addressBody ul li span {
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 676px) {
    .addressHeader ul li {
        font-size: 14px;
    }

    .addressBody ul li,
    .addressBody ul li span {
        font-size: 10px;
        text-align: center;
    }

    .menu_user_Orders {
        margin-left: 0px;
        margin-right: 5px;
    }

    .menu_user_Orders:lang(ar) {
        margin-left: 5px;
        margin-right: 0px;
    }

    /* .profileHeader ul {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .profileHeader ul li {
        font-size: 18px;
        width: 100%;
        border-left: 1px solid #d4cece;
    }

    .profileHeader ul li:not(:first-of-type) {
        justify-content: center;
    } */
}

.addressBody .IconMap_ {
    background: url(../images/IconMap.svg);
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
    display: block;
    margin-right: 5px;
}

.addressBody .IconMap_:lang(ar) {
    margin-left: 5px;
    margin-right: 0px;
}

/* Profile Favoriets */
.product {
    height: 400px;
}

.PHeader {
    height: 180px;
}

.PHeader img {
    margin-top: 8px;
}

.Pcontent h3 {
    margin-top: 60px;
}

.Pfooter {
    margin-top: 10px;
}

.Pfooter .addToCart {
    border-radius: 30%;
}

/* bootstrap Medium ≥768px */

@media (max-width:767px) {

    .productImages {
        margin-top: -93px;
    }

    .productImages img {
        width: 55px;
        height: 61px;
        padding: 4px;
    }

    .rating-card {
        flex-direction: column;
    }

    .PPDes .col-12 {
        display: flex;
        justify-content: center;
    }

    .PPDesContent h2 {
        text-align: center;
    }

    .PPDesContent p {
        text-align: center;
    }

    .whyHealthyItems.flex__ {
        flex-direction: column;
    }

    .whyHealthyItems.mt-5.flex__ {
        margin-top: 0rem !important;
    }

    .whyHealthyItem {
        margin-bottom: 20px;
        max-width: 100%;
        border: 1px solid #f1f1f1;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
    }

    .hideSM {
        display: none;
    }

    .Hcart {
        margin: 0px 25px;
    }

    .MCproduct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MCproductImg img {
        width: 120px;
        height: 180px;
    }

    .MCproductContent {
        text-align: center;
    }

    .MCquantity {
        max-width: 300px;
        margin: auto;
        margin-top: 39px;
        justify-content: space-between;
    }

    .cartPage .row {
        flex-direction: column-reverse;
    }

    .CPaddress {
        margin-top: 30px;
    }

    .CRContent {
        text-align: center;
    }
}



/* bootstrap Small ≥576px */

@media (max-width:575px) {
    .news_center h2 {
        text-align: center;
        font-size: 1.6rem;
    }

}

@media (max-width:400px) {
    .container_ {
        padding: 0px 15px;
    }


    .news_center .btn_ {

        width: 105px;
    }

    .CPProducts_item {
        flex-direction: column;
        border: 1px solid #ededed;
        padding: 10px;
        border-radius: 20px;
    }

    .CPPI_price .close {
        position: absolute;
        top: 6px;
        background: #ff9393;
        padding: 15px;
        border-radius: 43px;
        left: 9px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .CPProducts .price {
        margin-top: 20px;
    }

    .PPdesImg {
        margin-left: 46px;
    }

    .PPdesImg img {
        height: 200px;
    }

    .PPdesImg::after {
        content: '';
        background: #ECAB38;
        width: 202px;
        height: 156px;

    }
}